/* p.grassetto { */
/* font-weight: bold; */
/* font-weight: bolder;
  Valori da 100 a 900
}

u {
  text-decoration: none; */
/* text-decoration-style: wavy;
  text-decoration-color: red;
} */

.underlined {
  text-decoration: underline;
  text-decoration-color: aqua;
}

div.ombra {
  text-shadow: 3px 3px 2px gray;
}

.transforma {
  text-transform: uppercase;
  /* text-transform: capitalize; */
  /* text-transform: lowercase; */
  /* text-transform: none; */
}

.tranforma:hover {
  text-transform: none;
}

div.allineamento {
  width: 50%;
  max-width: 600px;
  border: 1px solid black;
  text-align: center;

  margin: 0 auto;
}

div.sub_container {
  width: 50%;
  background-color: orangered;
  min-height: 200px;
  display: inline-block;
  line-height: 200px;
  /* margin-left: 0 auto; */
}

p {
  text-align: left;
  line-height: 1.3;
}

div.gestisci_spazi {
  /* white-space: pre-line; */
  white-space: pre-wrap;
  /* overflow: hidden;
  text-overflow: ellipsis; */
  width: 150px;
  padding: 5px;

  border: 1px solid black;
}

div.parole-lunghe {
  width: 150px;
  border: 1px solid black;
  overflow-wrap: break-word;
  hyphens: auto;
}
