* {
  box-sizing: border-box;
}

div {
  background-color: red;
  width: 500px;
  padding: 50px;
  border: 20px ridge orange;
  margin: 30px;
  box-sizing: border-box;
}

div + div {
  background-color: yellow;
}
