ul li {
  /* list-style-type: disclosure-open; disc circle square disclosure-closed disclosure-open "-" */
  padding: 10px;
  list-style-image: url("../../assets/img/icons8-ninja-turtle-32.png");
}

ul {
  padding-left: 35px;
}

/* hr {
  height: 4px;
  background-color: black;
} */

ol li {
  list-style-type: upper-roman;
}
