body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
}

span {
  /* font-size: 20px; */
  /* xx-small x-small medium large x-large xx-large xxx-large */
  /*   */
  font-size: larger;
  font-style: italic;
}

/* i {
  font-style: normal;
} */
